.bottom-space {
    margin-bottom: 40px;
    margin-top: 40px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.alert {
    transition: opacity 500ms ease-in-out;
}

.alert-hidden {
    opacity: 0;
    display: none;
}

.centered-collapse {
    width: 80%;
    margin: 0 auto;
}